<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">
    <title>Motor Shop</title>
</head>
<body>
    <h1 class="main-title">Wellcome to motor shop</h1>
    <main>
        <div class="container">
            <div class="row">
                <div class="product-single">
                    <div class="product-single__content">
                        <div class="product-single__discount">30% off</div>
                        <div class="product-single__img">
                            <img src="<%IMAGE%>" alt="<%NAME%>">
                        </div>
                        
                            <h3 class="product-single__title"><%NAME%></h3>
                        
                        <p class="product-single__price">price : <%DISCOUNTPRICE%>$ &nbsp; <span class="product-single__price--discount"><%PRICE%>$</span></p>
                        <hr>
                        <p class="product-single__description" >
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero assumenda, natus velit temporibus ut pariatur deserunt sequi dolorum dicta, dignissimos at, maiores quia voluptatibus consequuntur ex recusandae doloremque voluptatum provident.
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda dignissimos deserunt similique facere autem voluptatem veniam libero suscipit qui dicta voluptas voluptatum, cumque cupiditate distinctio omnis. Consectetur praesentium asperiores enim?
                        </p>
                    </div>
                </div>
                
                
                
                
            </div>
        </div>
    </main>
</body>
</html>